#dbtf p.description	 {
	display:inline;
	margin-left:5px;
}
#dbtf #dbtf_exclude_replies ~ p.description {
	display:block;
	margin-left:0;
}

#dbtf .input_feed_type[disabled="disabled"] {
	background-color:#f7f7f7;
	color:#c9c9c9;
}
#dbtf .input_feed_type[disabled="disabled"] ~ p.description {
	color:#dadada;
}

#dbtf .dbtf_radio_item {
	display:inline;
	margin-left:25px;
}
#dbtf .dbtf_radio_item:first-child {
	margin-left:0;
}

#dbtf .dbtf_radio_item label {
	margin-right:5px;
}